<!DOCTYPE html>
<html>
  <head>
    <title>Memeworld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<li><%= link_to "Register", new_user_registration_path %></li>
<li><%= link_to "Log In", new_user_session_path %></li>

    <%= yield %>
  </body>
</html>
